<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DynamicDataSource" type="AutomationTestCSharp.Utilities.DynamicDataSource, AutomationTestCSharp" />
	</configSections>
	<DynamicDataSource>
		<Source>
			<add Name="SideBarFilterTestSource" FilePath="Resources\\TestData\\SideBarFilterTest.xlsx" SheetName="SideBarFilterTest" RowIndexes="0,1,2,3,4,5,6" />
			<add Name="BrandsFilterTestSource" FilePath="Resources\\TestData\\BrandsFilterTest.xlsx" SheetName="BrandsFilterTest" RowIndexes="0,1,2,3,4,5,6,7" />
			<add Name="ValidateProductDetailsTestSource" FilePath="Resources\\TestData\\ValidateProductDetailsTest.xlsx" SheetName="ValidateProductDetailsTest" RowIndexes="0,1,2,3,4,5" />
		</Source>
	</DynamicDataSource>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="TargetEnvironment" value="env" />
		<add key="User" value="user" />
	</appSettings>
</configuration>